.register_bg{
    width: 100%;
    height: 50vh;
    background-color: #1c065c;
}
.logo_main{
    display: grid;
    place-content: center;
    margin-top: 10px;
}
.register-form-container{
    display: flex;
    justify-content: center;
}
.reg_input_field{
    border-radius: 25px;
    width: 400px;
    height: 480px;
    margin-top: -250px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input_field_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.input-field{
    width: 90%;
    height: 40px;
    background: #D9D9D9;
    border-radius: 25px;
    margin-top: 15px;
    border: none;
    padding: 20px;
    outline: none;
}
.button_container{
    display: flex;
    justify-content: center;
 }
.register_button{
    width: 90%;
    height: 40px;
    border-radius: 25px;
    margin-top: 15px;
    background-color: #ffc107;
    color: #1c065c;
    border: none;
    outline: none;
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
}
.register_button:hover{
    background-color:  rgb(252, 252, 61);
    color: #1c065c;
}
.redirect_to_login{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.button_redirect_login{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.login{
    border: none;   
    width: 90%;
    width: 90%;
    height: 40px;
    border-radius: 25px;
    background-color: #1c065c;
    color: white;
    border: none;
    outline: none;
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
}
.login:hover{
    background-color: lightblue;
    color: #1c065c;
}
